<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="PHP Word Demo">
        <meta name="author" content="Taylor Ren">

        <title>PHP Word Manipulation Demo - Export</title>

    </head>
    <body>
        <h2>PHP Word Manipulation Demo with PHPWord - Entry Page</h2>
        <hr>
        <p>
            Export done successfully. 
        </p>
        <p>
            The output file can be downloaded <a href="/phpword2{{link}}">here</a>. 
        </p>
        
    </body>
</html>