<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="PHP Word Demo">
        <meta name="author" content="Taylor Ren">

        <title>PHP Word Manipulation Demo - Entry Page</title>

    </head>
    <body>
        <h2>PHP Word Manipulation Demo with PHPWord - Entry Page</h2>
        <hr>
        <p>
            Please enter some personal information:
        </p>
        <form action="export" method="post">
            Name: <input type="text" id="fullname" name="fullname"><br>
            Gender: <input type="radio" id="gender" name="gender" value="male">Male&nbsp;<input type="radio" id="gender" name="gender" value="female">Female<br>
            Age: 18 <input type="range" id="age" name="age" min="18" max="99" value="40"> 99<br>
            Message: <textarea id="message" name="message" rows="5" cols="60">What's in your mind?</textarea><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>